Source: serge
Section: perl
Priority: optional
Maintainer: Hideki Yamane <henrich@debian.org>
Build-Depends: debhelper (>= 9),
 perl, libauthen-sasl-perl, libdbd-sqlite3-perl, libjson-perl,
 libmime-lite-perl, libnet-smtp-ssl-perl, libxml-twig-perl, 
 libyaml-libyaml-perl, libxml-parser-perl, libxml-parser-style-ixtree-perl,
 libconfig-neat-perl (>= 1.204),
Build-Depends-Indep: libfile-copy-recursive-perl,
 libtest-simple-perl (>= 0.94),
Standards-Version: 3.9.6
Homepage: https://serge.io

Package: serge
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}
Description: Solution for continuous localization
 Serge (*String Extraction and Resource Generation Engine*) is a free,
 open-source tool that helps you set up a seamless continuous localization
 process for your software and marketing assets in a fully automated and
 scalable fashion.
